
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color: black;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  display: block;
}




/* Header (combined with the nav bar) - Navya*/
ul.nav {
  padding-left: 0px;
  background-color: white;
  text-align: center;
  font-family: "Rubik", Arial, sans-serif;
}
ul.nav > li {
  display: inline-block;
  padding: 20px;
}
ul.nav > li:hover {
  background-color: white;
}
ul.nav > li > a {
  color: black;
  text-decoration: none;
}


/* Banner with background image (includes button and title) - Nora */

.banner img{
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

.banner{
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
}

.text {
  z-index: 100;
  position: absolute;
  color: white;
  left: 550px;
  top: 430px;
  
}

.description{
  font-size: 15px;
}

.welcome{
  font-size: 60px;
  font-weight: bolder;
  padding-top: 15px;
}

.banner button{
  background-color: aqua;
  border-radius: 5px;
  width: 180px;
  height: 60px;
  border: 0px;
  margin: 30px;
}

/* Cards (three within a container) - Abdul*/

* {
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: auto;
    display : flex;
    align-items : center;
    justify-content : center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #04bcea;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #2fd10b;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #d79c43;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/*Product list (including the product image and the buttons{href}) - Abdul*/


/*New products (slider) - Bo*/


* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  color: black;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.main-slider-container {
  padding: 5rem 0;
  background-color: #959596;

}

.inner-container {
  width: 100%;
  padding: 15px auto;

}


.carousel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
} 


.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.carousel__indicator {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 2px; 
  background: rgb(0, 0, 0,0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.prev:hover, .next:hover {
  background-color: (0, 0, 0,0.3);
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;


}

.carousel__button {
  position: absolute;
  top: 50%;
  background: transparent;
  border: 0;
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel__button_nav {
  position: relative;
}
.carousel__button--left {
  left: 40px;
}

.carousel__button--right {
  right: 40px;
}

.active, .carousel__indicator:hover {
  background-color: aqua;
}



.title-row h1 {
  position: relative;
  padding: 30px 30px;
  text-align: center;

} 

.product-name, .price {
  position: relative;
  text-align: center;

}



.productSlide {
  display: inline-block;
  /* display: none; */
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: 400;
  transition: 0.6s ease;
  border-radius: 0  3px 3px 0;
  user-select: none;
}


.img-container {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;

}





/*Testimonials (grab the words and scroll through) - Bo*/

.blockquote.img {
  width: 25%;
  margin: 1.5rem;
  border: 1.5rem;
  vertical-align: middle;

}
.quote {
  font-weight: 400;
  font-style: italic;
}

.person-name {
  font-weight: 500;
  color: #8c92a0;
}


/*Cards (two within a container) - Nora*/


/*Footer - Navya*/

