/* Header (combined with the nav bar) - Navya*/




/* Banner with background image (includes button and title) - Nora */

.banner img{
    width: 100%;
    height: 100%;
    margin-top: 90px;
}

/* Cards (three within a container) - Abdul*/


/*Product list (including the product image and the buttons{href}) - Abdul*/


/*New products (slider) - Bo*/

/*Testimonials (grab the words and scroll through) - Bo*/


/*Cards (two within a container) - Nora*/


/*Footer - Navya*/