* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    color: black;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300;
    display: block;
    align-items: center;
    justify-content: center;
}



/* Header (combined with the nav bar) - Navya*/

.headerRow {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.headerColumn {
    float: left;
    padding: 10px 90px 30px 10px;
    color: black;
    backdrop-filter: transparent;

}

.cardli {
    padding: 16px;
    text-align: center;
    display: inline;
    font-size: 16px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 15px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 9px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Banner with background image (includes button and title) - Nora */

.banner img {
    width: 100%;
    height: 100%;
    margin-top: 90px;
}

.banner {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
}

.text {
    z-index: 100;
    position: absolute;
    color: white;
    left: 550px;
    top: 430px;

}

.description {
    font-size: 15px;
}

.welcome {
    font-size: 60px;
    font-weight: bolder;
    padding-top: 15px;
}

.banner button {
    background-color: aqua;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    border-color: aqua;
    margin: 30px;
}

.shopBtn:hover {
    background: transparent;
    color: aqua;
}

/* Cards (three within a container) - Abdul*/

/* * {
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Float three columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #04bcea;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #2fd10b;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #d79c43;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/*Product list (including the product image and the buttons{href}) - Abdul*/


/*New products (slider) - Bo*/



.swiper {
    width: auto;
    height: auto;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


a {
    text-decoration: none;
    color: black;
}


.swiper {
    width: 950px;
}

.carousel-content .swiper-button-next .swiper-button-prev {
    color: black;
}

/* products carousel */


.carousel-product-section .carousel-card .carousel-image {
    background: #f8f9fa;
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 30px 15px 30px 15px;
    margin: auto;



}



/* testimonials carousel */

.testimony-product-section .testimony-card .testimony-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;


}


.testimony-product-section .testimony-card .testimony-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;



}

.testimony-card {
    padding: 15px 15px;
    margin: auto;

}

.testimony-card .testimony-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 1;


}

.testimony-card .blockquote-textbox {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    text-align: left;
    padding: 30px 15px 30px 15px;

}

.name {
    margin-top: 10px;
    color: grey;

}






.product-list {
    background-color: white;
    padding: 0.3em;
}

.product-list .productitem {
    background-color: white;
    border-radius: 10px;
    padding: 0.5em;
    text-align: center;
    font-family: "Grota Sans";
}

.productitem .title {
    color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.productitem img {
    text-align: center;
    max-width: 100%;
}

.productitem .pltext {
    color: black;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.align-center {
    color: Black;
    text-align: center;
}

.buttonboy {
    background-color: aqua;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    border-color: aqua;
    margin: 30px;
    color: black;
    text-align: center;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 17px 10px 10px 20px;
    font-size: 13.8px;
}

.buttonboy:hover {
    background-color: transparent;
    color: rgb(82, 229, 255);
    transition: 0.5s;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2px;
}



/*Testimonials (grab the words and scroll through) - Bo*/


/*Cards (two within a container) - Nora*/


/*Footer - Navya*/

.footerClass ul li {
    margin-bottom: 10px;
}

.footerClass .footerP {
    color: #5c626e;
}

.footerClass ul li a:hover {
    color: #51eaea;
}

.footerClass .footer-heading {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 1rem;
}

.footerColumn {
    float: left;
    padding: 10px 10px 10px 0px;
    color: black;
    backdrop-filter: transparent;
    width: 40%;

}

.footerRow {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactList {
    color: #5c626e;
}

.footerCopyright {
    color: #5c626e;
    text-align: center;
}