/* Header (combined with the nav bar) - Navya*/
ul.nav {
    padding-left: 0px;
    background-color: white;
    text-align: center;
    font-family: "Rubik", Arial, sans-serif;
}
  ul.nav > li {
    display: inline-block;
    padding: 20px;
  }
  ul.nav > li:hover {
    background-color: white;
  }
  ul.nav > li > a {
    color: black;
    text-decoration: none;
  }


/* Banner with background image (includes button and title) - Nora */

/* Cards (three within a container) - Abdul*/

* {
    box-sizing: border-box;
  }
  
  body {
      color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float three columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: auto;
      display : flex;
      align-items : center;
      justify-content : center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #04bcea;
  }
  
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #2fd10b;
  }

  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #d79c43;
  }

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


/*Product list (including the product image and the buttons{href}) - Abdul*/

.product-list {
    background-color: white;
    padding: 0.3em;
  }
  
  .product-list .productitem {
    background-color: white;
    border-radius: 10px;
    padding: 0.5em;
    text-align: center;
    font-family: "Grota Sans";
  }
  
  .productitem .title {
    color : black;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .productitem img {
      text-align: center;
    max-width: 110%;
  }
  
  .productitem .text {
    color : black;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .align-center {
    color : Black;
    text-align: center;
  }
  .buttonboy {
    background-color: aqua;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    border-color: aqua;
    margin: 30px;
    color: black;
    text-align: center;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 17px 10px 10px 20px;
    font-size: 13.8px;
  }

  .buttonboy:hover {
    background-color: transparent;
    color: rgb(82, 229, 255);
    transition: 0.5s;
}

  .product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2px;
  }

  .vertical {
    color : black;
    writing-mode: tb-rl;
    text-orientation: sideways-right;
    display: flex;
  }

/*New products (slider) - Bo*/

/*Testimonials (grab the words and scroll through) - Bo*/


/*Cards (two within a container) - Nora*/


/*Footer - Navya*/

